<h2>all projects</h2>

<h3>All short posts</h3>

<ul>
  <% shortPosts.forEach((shortPost) => { %>
    <li>
      <a href="/posts/shorts/<%= shortPost.id %>">
        <h4><%= shortPost.title %></h4>
      </a>
      <div>
        <img src="<%= shortPost.pictures[0].url %>" alt="<%=shortPost.pictures[0].caption %>">
        <p><%=shortPost.pictures[0].caption %></p>
      </div>

      <% console.log(shortPost.pictures[0].caption); %>
      <p><%= shortPost.description %></p>
    </li>
  <% }); %>
</ul>
