<h2>all projects</h2>

<h3>All short posts</h3>

<ul class="row index">
  <% shortPosts.forEach((shortPost) => { %>
    <li class="col-lg-4 col-md-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= shortPost.pictures[0].url %>" alt="<%=shortPost.pictures[0].caption %>">
        <div class="card-body">
          <a href="/posts/shorts/<%= shortPost.id %>">
            <div class="left">
              <h5 class="card-title"><%= shortPost.title %></h5>

              <% if (shortPost.createdBy) { %>
                <p>created by: <%= shortPost.createdBy.username %></p>
              <% } %>
            </div>
            <div class="right">
              <h5 class="comments-num"><%= shortPost.comments.length %></h5>
              <small class="comments-num">comments</small>
            </div>


          </a>
        </div>
      </div>
    </li>
  <% }); %>
</ul>
