<form class="edit-project" action="/posts/shorts/<%= shortPost.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <div>
    <label for="title">Project Title</label>
    <input type="text" name="title" id="title" value="<%= shortPost.title %>" required>
  </div>

  <div>
    <label for="description">Description</label>
    <input type="textarea" name="description" id="description" value="<%= shortPost.description %>" required>
  </div>

  <div class="pictures-form">
    <h3>Pictures</h3>
    <ul class="pictures-container">
      <% shortPost.pictures.forEach((picture, i) => { %>
        <li id="<%= i %>">
          <img src="<%= picture.url %>" width="100" height="100">
          <p><%= picture.caption %></p>
          <p class="btn btn-danger deletePicture" id="<%= i %>">x</p>
        </li>
      <% }); %>
    </ul>
    <hr>
    <div>
      <label for="picture">Picture url</label>
      <input type="text" name="picture" id="picture">
    </div>
    <div>
      <label for="caption">Caption</label>
      <input type="text" name="caption" id="caption">
    </div>

    <p class="add-picture-button btn btn-primary" type="button" name="button">
      Save Picture
    </p>
  </div>

  <textarea id="allPictures" name="pictures" style="display:none;">
    <%- JSON.stringify(shortPost.pictures) %>
  </textarea>

  <button class="button">Update</button>
</form>
