<h2>show!</h2>

<h3><%= shortPost.title %></h3>
<p>created by: <%= shortPost.createdBy.username %></p>

<% shortPost.pictures.forEach((picture) => { %>

  <div>
    <img src="<%= picture.url %>" alt="<%= picture.caption %>">
    <p><%= picture.caption %></p>
  </div>

<% }); %>

<p><%= shortPost.description %></p>

<% if (locals.isLoggedIn && shortPost.belongsTo(user)) { %>
  <p>secret content</p>

  <form method="POST" action="/posts/shorts/<%= shortPost.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <button>Delete</button>
  </form>

<% } %>
