<div class="container show">

<div class="row">
  <div class="show-post">

    <h3><%= shortPost.title %></h3>
    <p>created by: <%= shortPost.createdBy.username %></p>

    <% shortPost.pictures.forEach((picture) => { %>
      <div class="picture-wrapper">
        <img class="img-fluid" src="<%= picture.url %>" alt="<%= picture.caption %>">
        <p class="caption"><%= picture.caption %></p>
      </div>
    <% }); %>

    <p><%= shortPost.description %></p>

    <% if (locals.isLoggedIn && shortPost.belongsTo(user)) { %>
      <div class="post-manager">

        <p>Manage your post</p>
        <ul>
          <li>
            <a href="/posts/shorts/<%= shortPost.id %>/edit" class="btn btn-outline-secondary">Edit</a>
          </li>
          <li>
            <form method="POST" action="/posts/shorts/<%= shortPost.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-outline-secondary">Delete</button>
            </form>
          </li>
        </ul>
      </div>
    <% } %>

    <hr>

    <% shortPost.comments.forEach((comment) => { %>
      <p><%= comment.content %></p>
      <small><%= comment.createdBy.username %></small>

      <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
        <form method="POST" action="/posts/shorts/<%= shortPost.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-outline-secondary">Delete comment</button>
        </form>
      <% } %>
    <% }) %>

    <% if(locals.isLoggedIn) { %>
      <section>
        <h4>Leave a comment</h4>
        <form method="POST" action="/posts/shorts/<%= shortPost.id %>/comments">
          <textarea name="content" id="content" placeholder="Comment" required></textarea>
          <button class="btn btn-outline-secondary">Send</button>
        </form>
      </section>
    <% } %>

  </div>
</div>

</div>
